[submodule "Dicom_RT_and_Images_to_Mask"]
	path = Dicom_RT_and_Images_to_Mask
	url = https://github.com/brianmanderson/Dicom_RT_and_Images_to_Mask.git
[submodule "Fill_Missing_Segments"]
	path = Fill_Missing_Segments
	url = https://github.com/brianmanderson/Fill_Missing_Segments.git
[submodule "Make_Single_Images"]
	path = Make_Single_Images
	url = https://github.com/brianmanderson/Make_Single_Images.git
[submodule "AW_Liver_Lobes_To_Raystation"]
	path = AW_Liver_Lobes_To_Raystation
	url = https://github.com/brianmanderson/AW_Liver_Lobes_To_Raystation.git
